header {
    font-family: 'Open Sans', sans-serif;
}

nav {
    width: 100%;
    height: 60px;
    background-color: #344051;
    float: left;
    position: fixed;
    z-index: 1001;
}

nav li a {
    transition: all 0.2s;
    display: inline-block;
    transform: scale(1);
    text-decoration: none;

}

nav .points {
    animation: topshift 1s ease forwards;
    opacity: 0;
}

@keyframes topshift {
    0% {
        opacity: 0;
        margin-top: -80px;
    }

    100% {
        opacity: 1;
        margin-top: 0px;
    }
}

nav .points:nth-child(2) {
    animation-delay: 0.4s;
}

nav .points:nth-child(3) {
    animation-delay: 0.8s;
}

nav .points:nth-child(4) {
    animation-delay: 1.2s;
}

nav .points:nth-child(5) {
    animation-delay: 1.6s;
}

nav .points:nth-child(6) {
    animation-delay: 2s;
}

nav .points a:visited {
    color: white;
}

nav .points a:hover {
    color: #e88604;
    transform: scale(1.2);
}

.owner {
    color: white;
    font-size: 21px;
    line-height: 60px;
    float: left;
    animation: topshift 1s ease;
}

.menu {
    font-size: 14px;
    float: left;
}

ul li {
    float: left;
    padding-right: 40px;
    line-height: 60px;
    text-transform: uppercase;
}

.main {
    width: 100%;
    height: 100%;
    background: url(../img/тень.png) 0 100%/auto no-repeat, url(../img/Без\ имени-1.png) 90% 80%/auto no-repeat, url(../img/bg.jpg) center/cover no-repeat;
}

.title_container {
    font-family: 'Open Sans', sans-serif;
    float: left;
    color: #2c384a;
    text-align: center;
    width: 100%;
    animation: titlemove 1.5s forwards;
    animation-delay: 2s;
    opacity: 0;
}

@keyframes titlemove {
    0% {
        opacity: 0;
        margin-left: -300px;
    }

    100% {
        opacity: 1;
        margin-left: 0px;
    }
}

@media(max-width: 991px) {
    .title_container {
        color: white;
        position: relative;
        z-index: 3;
    }

    .title_container h4 {
        color: white;
        position: relative;
        z-index: 3;
    }

    .main {
        position: relative;
    }

    .main::after {
        content: "";
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.8);
    }
}

.title_container h1 {
    font-size: 80px;
    letter-spacing: -6px;
}

.title_container h4 {
    font-size: 25px;
    padding-top: 25px;
    color: #79818d;
}

.title_container i {
    font-size: 40px;
    padding-right: 10px;
    color: red;
}

#css3 {
    color: blue;
}

.title_container input {
    margin: 58px 14px 0 14px;
    height: 40px;
    text-align: center;
    background: none;
    border: 2px solid #6d7682;
    border-radius: 10px;
    padding: 0 16px;
    font-size: 18px;
    color: #6d7682;
    transition: all 0.4s;
}

.title_container input:hover {
    background: #344051;
    color: white;
    transform: scale(1);
}

.title_container input:active {
    transform: scale(1.2);
}

.AboutMe h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 38px;
    text-align: center;
    color: #263244;
    margin-top: 60px;
    text-transform: uppercase;
    font-weight: bold;
}

.AboutMe img {
    display: block;
    margin: 20px auto 0 auto;
}

.AboutMe p {
    margin: 50px 0 50px 0;
    text-align: center;
    font-size: 22px;
}

.AboutMe button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    border: 2px solid #6f707e;
    background: none;
    font-size: 20px;
    width: 20%;
    border-radius: 10px 10px;
    font-family: 'Open Sans', sans-serif;
    color: #6f707e;
    height: 50px;
    transition: all 0.5s;
    transform: scale(1);
    align-items: center;
    padding-left: 15px;
}

@media (max-width: 1400px) {
    .AboutMe button {
        min-width: 250px;
    }
}

.AboutMe button:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 10px #000000) drop-shadow(0 0 40px #000000);
}

.AboutMe button img {
    float: left;
    margin: 5px 0 5px 25px;
}

.skills {
    width: 100%;
    height: 65%;
    background: url(../img/фон\ 3\ блок.png) center/cover no-repeat;
    background-attachment: fixed;
}

.skills2 h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 38px;
    text-align: center;
    color: #263244;
    padding-top: 80px;
    text-transform: uppercase;
    font-weight: bold;
}

.skills2 img {
    display: block;
    margin: 20px auto 0 auto;
}

.object h4 {
    color: #cc6600;
    font-family: 'Open Sans', sans-serif;
    padding: 30px 0 20px 0;
    font-size: 23px;
}

.object1 h4 {
    color: #cc6600;
    font-family: 'Open Sans', sans-serif;
    padding: 30px 0 20px 0;
    font-size: 23px;
}

.object {
    display: block;
    font-size: 18px;
    text-align: center;
    margin-top: 80px;
    color: #5b6370;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -1px;
    align-items: center;
    transition: all 0.2s;
    transform: scale(1);
}

.object:hover {
    transform: scale(1.2);
}

.object1 {
    display: block;
    margin-top: 80px;
    font-size: 18px;
    text-align: center;
    color: #5b6370;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -1px;
    align-items: center;
    transition: all 0.2s;
    transform: scale(1);
}

@media(max-width: 1170px) {
    .object {
        margin-top: 50px;
        padding-left: 0;
    }

    .object1 {
        margin-top: 50px;
        padding-left: 0;
    }
}

@media(max-width: 775px) {
    .object h4 {
        font-size: 16px;
    }

    .object1 h4 {
        font-size: 16px;
    }

    .object {
        margin-top: 100px;
        padding-left: 0;
    }

    .object1 {
        margin-top: 100px;
        padding-left: 0;
    }

    .object p {
        opacity: 0;
        font-size: 1px;
    }

    .object1 p {
        opacity: 0;
        font-size: 1px;
    }
}

@media(max-width: 400px) {
    .object h4 {
        font-size: 13px;
    }

    .object1 h4 {
        font-size: 13px;
    }
}
.object1:hover {
    transform: scale(1.2);
}

.cases h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 38px;
    text-align: center;
    color: #263244;
    padding-top: 100px;
    text-transform: uppercase;
    font-weight: bold;
}

#line {
    display: block;
    margin: 30px auto 0 auto;
}

.cases p {
    text-align: center;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    margin: 40px 0 45px 0;
}

.subsection h4 {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: #384354;
    margin: 40px 0 15px 0;
}

.subsection {
    display: block;
    float: left;
}

.subsection span {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #3f495a;
}

.subsection a {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #3f495a;
    text-decoration: none;
}

.subsection2 p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #3f495a;
    letter-spacing: -1px;
    text-align: start;
}

.subsection2 h4 {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: #384354;
    margin: 40px 0 15px 0;
}

.visit {
    margin-top: 40px;
    margin-bottom: 200px;
    border: 1px solid #63b5ae;
    border-radius: 7px;
    background: #63b5ae;
    height: 45px;
    width: 200px;
    color: white;
    text-align: center;
    transition: all 0.2s;
    transform: scale(1);
}

.visit:hover {
    background: #00675C;
}

.visit:active {
    transform: scale(1.1);
}

.visit button {
    color: white;
    background: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding-top: 10px;
}

.cost .container {
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 60px 10px rgba(0, 0, 0, 0.6);
}

.cost h2 {
    padding-bottom: 80px;
    padding-top: 40px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 38px;
    font-weight: bold;
    color: #1c2534;
}

.cost h3 {
    text-transform: uppercase;
    color: #1c2534;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.cost select {
    margin: 20px 0 50px 0px;
    width: 82%;
    font-size: 18px;
    background-color: #eeeeee;
    padding: 10px 0 10px 20px;
}

.cost img {
    margin-top: 10px;
    width: 82%;
}

.cost p {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #1c2534;
    padding-top: 30px;
}

#term {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #1c2534;
    padding-top: 30px;
}

#cost {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #1c2534;
    padding-top: 30p;
}

.cost button {
    font-size: 19px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid #63b5ae;
    border-radius: 7px;
    background: #63b5ae;
    height: 45px;
    width: 200px;
    color: white;
    text-align: center;
    transition: all 0.2s;
    transform: scale(1);
}

.cost button:hover {
    background: #00675C;
}

.cost button:active {
    transform: scale(1.1);
}

.stats {
    width: 100%;
    height: 65%;
    margin-top: 150px;
    background: url(../img/фон\ 6\ блок.png) center/cover no-repeat;
    background-attachment: fixed;

}

.stats2 h2 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 38px;
    font-weight: bold;
    color: #323e4f;
    padding-top: 50px;
}

.stats2 img {
    display: block;
    margin: 25px auto 0 auto;
}

.object2 {
    display: block;
    font-size: 25px;
    text-align: center;
    max-width: 240px;
    color: #323e4f;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 160px;
    letter-spacing: -1px;
    transition: all 0.2s;
    transform: scale(1);
}

.object3 {
    display: block;
    font-size: 25px;
    text-align: center;
    color: #323e4f;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 160px;
    letter-spacing: -1px;
    transition: all 0.2s;
    transform: scale(1);
}

@media(max-height:900px) {
    .object2 {
        margin-top: 80px;
    }

    .object3 {
        margin-top: 80px;
    }
}

@media(max-height:780px) {
    .object2 p {
        opacity: 0;
        font-size: 1px;
    }

    .object3 p {
        opacity: 0;
        font-size: 1px;
    }

    .object3:hover::after {
        content: attr(data-title);
        position: absolute;
        left: 20%;
        top: 40%;
        z-index: 1;
        background: rgba(255, 170, 24, 0.6);
        font-family: Arial, sans-serif;
        font-size: 11px;
        padding: 5px 10px;
        border: 1px solid rgba(0, 0, 0, 0);
        border-radius: 20px;
    }

    .object2:hover::after {
        content: attr(data-title);
        position: absolute;
        left: 20%;
        top: 40%;
        z-index: 1;
        background: rgba(255, 170, 24, 0.6);
        font-family: Arial, sans-serif;
        font-size: 11px;
        padding: 5px 10px;
        border: 1px solid rgba(0, 0, 0, 0);
        border-radius: 20px;
    }
}

@media(max-width:516px) {
    .object2 p {
        opacity: 0;
        font-size: 1px;
    }

    .object3 p {
        opacity: 0;
        font-size: 1px;
    }

    .object3:hover::after {
        content: attr(data-title);
        position: absolute;
        left: 20%;
        top: 40%;
        z-index: 1;
        background: rgba(255, 170, 24, 0.6);
        font-family: Arial, sans-serif;
        font-size: 11px;
        padding: 5px 10px;
        border: 1px solid rgba(0, 0, 0, 0);
        border-radius: 20px;
    }

    .object2:hover::after {
        content: attr(data-title);
        position: absolute;
        left: 20%;
        top: 40%;
        z-index: 1;
        background: rgba(255, 170, 24, 0.6);
        font-family: Arial, sans-serif;
        font-size: 11px;
        padding: 5px 10px;
        border: 1px solid rgba(0, 0, 0, 0);
        border-radius: 20px;
    }
}


.object2:hover {
    transform: scale(1.2);
}

.object3:hover {
    transform: scale(1.2);
}

.object2 p {
    padding-top: 40px;
}

.object3 p {
    padding-top: 40px;
}

.reviews h2 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 38px;
    font-weight: bold;
    color: #243042;
    padding-top: 60px;
}

.reviews img {
    display: block;
    margin: 30px auto 20px auto;
}

#danek {
    display: block;
    margin: 70px auto 0 auto;
}

.reviews p {
    text-align: center;
    font-size: 22px;
    color: #243042;
    padding: 60px 0 0 0;
    max-width: 50%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -1px;
}

.reviews {
    margin-bottom: 100px;
}

.contacts {
    width: 100%;
    height: 100%;
    background: url(../img/Фон\ 8\ блок.png) center/cover no-repeat;
}

.contacts2 h2 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 38px;
    color: white;
    padding-top: 40px;
}

.contacts2 img {
    display: block;
    margin: 30px auto;
}

.description p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-align: center;
}

.object4 {
    display: block;
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-top: 50px;
    letter-spacing: -1px;
}

.object5 {
    display: block;
    font-size: 22px;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-top: 50px;
    letter-spacing: -1px;
}

@media(max-width:1200px) {
    .object4 {
        font-size: 16px;
    }

    .object5 {
        font-size: 16px;
    }
}

@media(max-width:1200px) {
    .object4 {
        margin-top: 10px;
    }

    .object5 {
        margin-top: 10px;
    }
}


.object4 img {
    margin-bottom: 30px;
}

.object5 img {
    margin-bottom: 30px;
}

@media(max-width:530px) {
    .object4 {
        font-size: 12px;
    }

    .object5 {
        font-size: 12px;
    }
}

.object4 img {
    margin-bottom: 15px;
}

.object5 img {
    margin-bottom: 15px;
}

.message {
    display: block;
    width: 100%;
    margin-top: 20px;
}

.message h3 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    text-align: center;
}

@media(max-width:992px){
    .message{
        margin-top: 0px;
    }
}

#name {
    display: inline-block;
    width: 100%;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 15px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(255, 255, 255, 0.7);
}

#name2 {
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    height: 40px;
    padding-left: 15px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(255, 255, 255, 0.7);
}

@media(max-width:992px){
    #name{
        margin-top: 5px;
        margin-bottom: 7px;
    }

    #name2{
        margin-top: 5px;
        margin-bottom: 7px;
    }
}

.message textarea {
    resize: none;
    width: 100%;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 0 0 15px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.button2 button {
    margin-top: 20px;
    border: 1px solid rgba(255, 255, 255);
    border-radius: 7px;
    background: none;
    height: 50px;
    width: 100%;
    font-size: 20px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.2s;
    transform: scale(1);
}

.button2 button:hover {
    transform: scale(1.1);
}

footer {
    height: 60px;
    background-color: #354051;
    text-align: center;
    font-size: 18px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
}

.preloader {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(50, 50, 50);
    ;
    z-index: 1001;
}

.wrapper {
    width: 100px;
    height: 100px;
    border: 12px solid #ccc;
    border-radius: 160px;
    border-top: 12px solid #e88604;
    animation: preloaderAnimation 0.5s linear 3;
}

@keyframes preloaderAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loaded_hiding .preloader {
    transition: 0.2s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}

#map {
    width: 100%;
}